a,
a:hover,
a:active {
  color: #000;
}

body{
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #304455;
  background-color: #fff;
  margin: 0;
}

.container-lg {
  margin-right: auto;
  margin-left: auto;
  max-width: 1012px;
}

.container-xl {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.boder-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.boder-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sign-form {
  width: 600px;
  margin: auto;
}
