a,
a:hover,
a:active {
  color: #000;
}
.body {
  padding-top: 150px;
}
.container-lg {
  margin-right: auto;
  margin-left: auto;
  max-width: 1012px;
}

.container-xl {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.boder-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.boder-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
